.aboutContainer {
  background: linear-gradient(
    135deg,
    var(--background-alt),
    var(--primary-light)
  );
  padding: var(--spacing-lg) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.aboutContent {
  max-width: 800px;
  width: 90%;
  background-color: #fff;
  padding: var(--spacing-lg);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.aboutContent h1 {
  font-weight: 600;
  padding-bottom: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  border-bottom: 2px solid var(--primary-color);
  font-size: 26px;
}

.aboutText {
  padding-bottom: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-color);
}
